@using WebUI.HtmlHelpers
@model WebUI.Models.ArticlesIndexViewModel

@{
    ViewBag.Title = "Статьи";
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>

@foreach (var article in Model.Articles)
{
    <div>
        <h3>@article.Title - @article.Author</h3>
        <p>@article.Text</p>
    </div>
    <hr />
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>

